# =====================
# Virtual environments
# =====================
.venv/
ai_env/
env/

# =====================
# Python cache
# =====================
__pycache__/
*.pyc

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Environment variables
# =====================
.env


# =====================
# Folders not required
# =====================
self_rag/


# =====================
# Vector DB / embeddings
# =====================
chroma_db/
faiss_index/
vector_store/
chroma_db_*/
qdrant_storage/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# VSCode
# =====================
.vscode/
*.code-workspaceself_rag/
notebooks/*.code-workspace
