# =====================
# Virtual environments
# =====================
.venv/
ai_env/
env/

# =====================
# Python cache
# =====================
__pycache__/
*.pyc

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Environment variables
# =====================
.env


# =====================
# Folders not required
# =====================
rag_part_four_env/
rag_part_five_env/
data/MNIST
data/corpus/courses/
tools/
workflows/
.tmp/

# =====================
# Vector DB / embeddings
# =====================
chroma_db/
faiss_index/
vector_store/
chroma_db_*/
qdrant_storage/

# =====================
# WAT Framework
# =====================
.tmp/*
!.tmp/.gitkeep
credentials.json
token.json
token_youtube.json
.claude.local.md

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# VSCode
# =====================
.vscode/
*.code-workspaceself_rag/
notebooks/*.code-workspace
/root/.notebooklm/storage_state.json
